<nav>

	<div id='uppernav'>
		<div id='desc'>This project analyses Britain's main respectable newspapers for their mood. It is an attempt to show which papers might be bad for your health. <br/></br><span id='info_asterisk'><sup>*</sup></span>To find out more about the methodology, click <strong><a id="showmethods" href="#">here</a></strong>  
		</div>
	</div>

	<div id='lowernav'>
		 <a id='warning' class='tab selected'  href='#welcome'>Most Depressing</a>
		 <a id='headlines' class='tab'  href='#today'>Today's Headlines</a>
		 <a id='over_time' class='tab'  href='#svg'>Negativity Over Time</a>
		 <a class='tab'id='miserylink' href='#shame'>Hall of Shame</a>
		<div id='categories'>
		 <a id='glummest' class='sub_tab' > Misery Guts</a>
		 <a id='happiest' class='sub_tab'> Happy Larry</a>
		</div> 
	</div>
	
</nav>