<nav>

	<div id='uppernav'>
		<div id='desc'>This project analyses Britain's main newspapers to see their effect on our health.<sup>*</sup> 
		</div>
	</div>

	<div id='lowernav'>
		 <a id='nav_index' class='tab'  href='/'>Avoid Today</a>
		 <a id='nav_today' class='tab'  href='today.html'>Today's Gutter</a>
		 <a id='nav_awards'class='tab' href='awards.html'>Hall of Shame</a>
		 <a id='nav_chart' class='tab'  href='chart.html'>Gutter Index</a>
		<!-- <div id='categories'>
		 <a id='glummest' class='sub_tab' > Misery Guts</a>
		 <a id='happiest' class='sub_tab'> Happy Larry</a>
		</div>  -->
		<a id='nav_info' class='tab'  href='info.html'><sup>*</sup>What Is This?</a>
	</div>

	
</nav>

