<nav>

	<div id='uppernav'>
		<div id='desc'>This project analyses Britain's main newspapers to see their effect on our health. <br/></br><span id='info_asterisk'></span>To find out more, see below<sup>*</sup> 
		</div>
	</div>

	<div id='lowernav'>
		 <a id='warning' class='tab selected'  href='#welcome'>Avoid Today</a>
		 <a id='headlines' class='tab'  href='#today'>Today's Gutter</a>
		 <a id='miserylink'class='tab' href='#shame'>Hall of Shame</a>
		 <a id='over_time' class='tab'  href='#svg'>Gutter Index</a>
		<div id='categories'>
		 <a id='glummest' class='sub_tab' > Misery Guts</a>
		 <a id='happiest' class='sub_tab'> Happy Larry</a>
		</div> 
		<a id='aboutbutton' class='tab'  href='#info'>What Is This?</a>
	</div>
	
</nav>