* {
  color: #333;
  font-family: 'Dosis',Helvetica,sans-serif;
  opacity: 1;
/*  transition: color 6s ease, opacity 4s ease;*/
}

html,
body {
  margin: 0;
}

/*.footer, .push {
clear: both;
padding-left: 5px;
}*/


/*html {
  overflow: scroll;
}
*/
table
{ 
    margin-left: auto;
    margin-right: auto;
}


                            /* nav */

nav{
  width: 150px;
  float: left;
  margin-left: 10px;
  clear: both;
  position: fixed;
}

#lowernav, #uppernav {
  
}

#desc {
  font-size: 12px;
  padding: 10px 0 10px 10px;
}

.selected {
  font-weight: 700;
  background-color: pink;
  border-left: 2px solid black;
  }

.tabselected {
  font-weight: 700;
  opacity: 1;
  }

  nav {
    position: fixed;
  }

  .tab {
    text-align: left;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 10px;
    border-left: 2px solid white;
    font-size: 30px;
    display: block;
  }

  .tab:hover, .sub_tab:hover, .myButton:hover {
    cursor: pointer;  
    border-left: 2px solid black;

  }

  nav a.sub_tab {
    text-align: right;
    display: block;
    margin: 10px 0 10px 0;
    font-size: 24px;
  }

  #categories {
    display: none;
  }


  /* chart*/

#data {
  margin-left: 170px;
}

.chart__grid {
  stroke: #e7eef4;
  opacity: 0.3;
}
svg {
  font: 12px sans-serif;
  margin-top: 0px;
  float: right;
}

#top {
  min-height: 20px;
}
.area {
  fill: rgba(255,100,100,0.5);
  clip-path: url("#clip");
}
.axis path,
.axis line {
  fill: none;
  stroke: #e7eef4;
  shape-rendering: crispEdges;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}
/*New*/
.chart text {
  fill: #7f8faf;
}

.indented_details {
  font-size: 18px;
}

.chart__line {
  fill: none;
  stroke-width: 1.2px;
  clip-path: url("#clip");
}
.chart__times--focus{
  stroke-width: 2px;
  stroke: #40d47e;
}


.times {stroke:#40d47e;}

.chart__guardian--focus {
  stroke-width: 2px;
  stroke: #f1c40f;
}
.guardian{stroke: #f1c40f;}
.chart__mail--focus {
  stroke-width: 2px;
  stroke: #2980b9;
}
.mail{ stroke: #2980b9;}
.chart__independent--focus {
  stroke-width: 2px;
  stroke: #2c3e50;
}
.independent{stroke: #2c3e50;}
.chart__express--focus {
  stroke-width: 2px;
  stroke: #d35400;
}
.express{stroke: #d35400;}

.chart__telegraph--focus {
  stroke-width: 2px;
  stroke: #7f8c8d;
}
.telegraph{stroke: #7f8c8d;}

.average{stroke: #ff69b4; }
.chart__average--focus {
  stroke-width: 5px;
  stroke: #ff69b4;
  opacity: 0.5;
}

.chart__average--focus:hover {
  opacity: 1;
}


.chart__overlay {
  opacity: 0;
  pointer-events: all;
}

.chart__bars {
  fill: #99c5df;
  opacity: 1;
}
.chart__range-selection text {
  cursor: pointer;
  text-decoration: underline;
  fill: #2980b9;
}
.chart__axis--context text {
  fill: #7f8faf;
}
.chart__axis--context .tick:nth-child(odd) {
  display: none;
}
.chart__axis--context path,
.chart__axis--context line {
  display: none;
}
.chart__area {
  fill: #e6f6fe;
  stroke: #3587bc;
}
.extent {
  fill: #e2f0ff;
  fill: #3587bc;
  fill-opacity: 0.3;
}
.y.axis .tick text {
  text-anchor: start !important;
  fill: #7f8faf;
}
.y.axis .tick line {
  display: none;
}
.y.axis path {
  display: none;
}

.chart__legend {
  font-size: 24px;
}

.chart__subtitle {
  font-size: 16px;
}

.chart__title {
  font-size: 24px;
}

.x-responsive {
  font-size: 2.0vw;
  max-font-size: 50px;
  min-font-size: 14px;
}




              /* today */

#papers {
  width: 100%;
  line-height: 2em;
 display: inline;
}

#papers h6 {
  margin: 0;
  font-weight: 400;
  float: right;
}

.paperscore {
  padding: 5px 5px 5px 5px;
}

.active {
  font-weight: 700;
  background-color: gold;
}

#next_headlines{
  width: 80%;
}

#next_headlines a {
  line-height: 2em;
  text-align: center;
  margin-left: 5px;
  color: black;
  font-size: 18px;
  border: 2px black dotted;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  opacity: 0.75;
}

#next_headlines a:hover {
  cursor: pointer;
  background-color: gold;
  color: black;
  opacity: 1;
}

section {
  width: 80%;
  float: left;
  margin-left: 150px;
  text-align: center;

}

#headerdiv {
  min-width: 300px;
}

.e {
  font-size: 80px;
  margin: 0;
}

#misery_heading, #misery_score, .e {
  line-height: 2em;
  vertical-align: middle;
}


article {
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 66.6px;
  margin: 0;
}

h2 {
  display: inline-block;
  font-size: 33.6px;
  margin: 0;
}

p {
  display: inline-block;
  font-size: 22.6px;
  margin-left: 5px;
}

a {
  text-decoration: none;
}


#misery_score {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.highlight {
  color: #d83;
  transition: color 2s ease;
}

.hidden {
  opacity: 0;
}

#balls {
  width: 50%;
  text-align: center;
  display: inline;
  font-size: 100px;
  margin: 0;
  line-height: 30px;
  vertical-align: -25px;
}

.highlightball {
  color: red;
}




        /* info tab */

#info {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
   overflow-y:scroll;
    overflow-x:hidden;
}

.blurb{
  padding: 5% 0 5% 5%;
   overflow-y:scroll;
    overflow-x:hidden;
    transition: color 1s ease, opacity 1s ease;
}

.blurb p{
  font-size: 16px;
  margin: 0 5% 2% 0;
}

.blurb h3 {
  margin: 0 0 2% 0;
}

.blurb ol {
  margin: 0 0 2% 0;
}

.blurb a {
  color: #a17f1a;
}


.codechart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


                    /* HALL OF SHAME */

#side {
  width: 80%;
  height: 100%;
  min-height: 100%;
  float: right;
  background-color: white;
}

#champion_pos, #champion_neg {
  text-align: center;
  width: 100%;
}

#champion_pos, #champion_neg {
  display: none;
  padding-right: 10px;
}

#champion_pos {
  display: none;
}


#champion_neg h2, #champion_pos h2{
  margin: 10px 0 10px 0;
  font-size: 36px;
}

/*#side h2, #side p, #side h3, #side h4 {
  margin: 0;
}*/

#side h3{
  font-size: 24px;
  margin:1% 0 1% 0;
}

#side h4 {
  display: inline;
}

.cup {
  background-image: url('http://www.sylviarimm.com/images/medal.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15%;
  height: 140px;

  margin: 0;
}


.score_award {
  text-decoration: none;
  color: red;
  font-size: 30px;
  padding: 5px 0 0 0;
  font-weight: 700;
  display: block;
}

.neg_award_headline {
  background-color: red;
  color: white;
  font-size: 40px;
  padding: 2px 5px 2px 5px;
}

.pos_award_headline {
  background-color: gold;
  color: black;
  font-size: 40px;
  padding: 2px 5px 2px 5px;
}

.footer {
  display: none;
}

nav {
  display: inline;
}

.score_neg, .score_pos {
  margin-right: 15px;
    font-weight: 700;
}

.score_neg {
  color: red;
}

.score_pos {
  color: green;
}

span.source {
  font-style: italic;
}

ol.news {
  padding-top: 50px;
}


.news {
  margin: 0;
  padding: 0;
 list-style-type: none;
}

.news li {
  text-align: left;
  font-size: 20px;
  border-bottom: 1px dotted gray;
  min-height: 40px;
  margin-top: 10px;
}

.news li {
    counter-increment: step-counter;
}


.news li:first-child {
  font-size: 24px;
}


.badnews li:first-child::before {
  background-color: red;
  color: white;
}

.goodnews li:first-child::before {
  background-color: green;
  color: white;
}

.news li > span.number::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    color: black;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 12px;
    border: 1px dotted gray;
}

/*.news li:first-child + li::before {
  background-color: rgb(200,200,200); 
  color: white;
}*/

/*.news li:nth-of-type(3)::before {
  background-color: #CD7F32; 
  color: white;
}*/

 /*LAYOUT*/


#data {
  margin-bottom: 100%;
}

section#today {
  margin-bottom: 100%;
}

#side {
  margin-bottom: 100%;
  padding-top: 20px;
}

#side table {
  padding-top: 20px;
}


/* iPhone */
@media (min-width: 320px) and (max-width: 480px) {

}

/* iPhone 5 */
@media (min-width: 320px) and (max-width: 568px) {

}

/* Tablet */
@media (min-width: 600px) and (max-width: 800px) {

}

/* iPad 2, 3, mini */
@media (min-width: 768px) and (max-width: 1024px) {


} 















