* {
  color: #333;
  font-family: 'Dosis',Helvetica,sans-serif;
  opacity: 1;
  transition: color 6s ease, opacity 4s ease;
}

html,
body {
  margin: 0;
}

body {
  bottom: 0;
  display: table;
  height: 100%;
  top: 0;
  width: 100%;
}

nav {
  width: 10%;
  float: left;

}

nav div {
  display: block;
}

nav p {
  margin-left: 5px;
  font-size: 14px;
  min-width: 20px;
  opacity: 0.75;
}

nav a {
  line-height: 1em;
}

nav div#changesource{
  font-size: 50px;
  text-align: center;
  margin-left: 5px;
}

nav a#link {
  font-size: 50px;
  text-align: center;
  margin-left: 5px;
}

nav a:hover {
  color: gold;
}

section {
  width: 80%;
  float: left;
  margin-left: 5%;
  text-align: center;

}

#headerdiv {
  min-width: 300px;
  height: 200px;

}

p#emojis {
  font-size: 100px;
  display: block;
  line-height: 100px;
  margin: 0;
}




article {
  width: 80%;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 66.6px;
  margin: 1em 0 0 0;
}

h2 {
  display: inline-block;
  font-size: 33.6px;
}

p {
  display: inline-block;
  font-size: 22.6px;
  margin-left: 5px;
}

a {
  display: block;
  text-decoration: none;
}



p#misery_score {
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
}

.highlight {
  color: #d83;
  transition: color 2s ease;
}

.active {
  font-weight: 700;
  opacity: 1;
}


.hidden {
  opacity: 0;
}
