* {
color: #333;
font-family: 'Dosis',Helvetica,sans-serif;
opacity: 1;
}

html,
body {
height:100%;
font-size: 18px;
margin: 0;
}

table { 
margin-left: auto;
margin-right: auto;
}

article {
display: inline-block;
max-height: 50vh;
}

section {
width: 80%;
float: left;
text-align: center;
}

#welcome > h1
{font-size: 3em;} 
#welcome > h2
 {font-size: 2em;} 
#welcome > h3
 {font-size: 1.5em;} 

#mainarticle > h1 {
display: inline-block;
font-size: 3rem;
margin: 0;
/*height:50vh;*/
}

#mainarticle > h2 {
display: inline-block;
font-size: 2.5rem;
margin: 0;
}

#mainarticle > p {
display: inline-block;
font-size: 2rem;
margin-left: 5px;
}

a {
text-decoration: none;
}

div.page-container {
z-index:999;   
position: fixed;
width: 85vw;
bottom: 0px;
}

nav{
z-index:999;
width: 20vw;
float: left;
clear: both;
position: fixed;
display: inline-block;
overflow: hidden;
min-height: 100vh;
border-top: 2px solid pink;
border-bottom: 2px solid pink;
}

#restofpage {
z-index: 999;
position: relative;
float: right;
width: 78vw;
margin-left: 2vw;
overflow: y;
}

#welcome, #today, #data, #shame {
clear: both;
display: block;
margin-left: 2vw;
}

#data, #shame {
	background-color: white;
}

#welcome, #today, #shame{
/*height: 100vh;*/
}

#welcome {
/*width: 80vw;*/
text-align: center;
display: block;
vertical-align: middle;
}

#svg, #welcome {
padding-top: 1vh;
}

#shame {
/*width: 90%;*/
background-color: white;
}



#desc {
/*font-size:1.25vw;*/
padding: 10px 0 10px 10px;
}

span#info_asterisk {
font-size: 1.25vw;
}

.selected {
/*  font-weight: 700;*/
background-color: pink;
border-left: 2px solid black;
}

.tabselected {
opacity: 1;
}

.tab {
text-align: left;
margin: 0;
padding: 10px 0 10px 10px;
border-left: 2px solid white;
font-size: 1em;
display: block;
}

.tab:hover, .sub_tab:hover, .myButton:hover {
cursor: pointer;  
border-left: 2px solid black;
}

nav a.sub_tab {
text-align: right;
display: block;
margin: 0;
font-size: 1.39vw;
display: none;
}



.welcome_score {
margin-left: 5px;
line-height: 1.5em;
display: block;
}

.welcome_text {
margin: 0;
padding: 0;
margin-left: 5%;
line-height: 1.5em;
}

#welcome img.logo {
padding-top: 2vh;
}

.chart__grid {
stroke: #e7eef4;
opacity: 0.3;
}

#svg {
font: 12px sans-serif;
}

.chart_logo {
	position: absolute;
	z-index: 999;
}


.area {
fill: rgba(255,100,100,0.5);
clip-path: url("#clip");
}
.axis path,
.axis line {
fill: none;
stroke: #e7eef4;
shape-rendering: crispEdges;
}
.brush .extent {
stroke: #fff;
fill-opacity: 0.125;
shape-rendering: crispEdges;
}

g.focus {
float: left;
}
.chart text {
fill: #7f8faf;
}

.indented_details {
font-size: 1.25vw;
}

.chart__line {
fill: none;
stroke-width: 1.2px;
clip-path: url("#clip");
opacity: 0.2;
}
.chart__times--focus,.chart__mail--focus,.chart__guardian--focus,
.chart__independent--focus,.chart__express--focus,.chart__telegraph--focus{
stroke-width: 2px;
}

.times,.chart__times--focus {stroke:#40d47e;}
.guardian,.chart__guardian--focus{stroke: #f1c40f;}
.mail,.chart__mail--focus{ stroke: #2980b9;}
.independent,.chart__independent--focus{stroke: #2c3e50;}
.express,.chart__express--focus{stroke: #d35400;}
.telegraph,.chart__telegraph--focus{stroke: #006400;}

.average{stroke: #ff69b4; }

.labels {
stroke-width: 1px;
font-size: 20px;
}


.chart__average--focus {
stroke-width: 5px;
stroke: #ff69b4;
opacity: 1;
}

.chart__overlay {
opacity: 0;
pointer-events: all;
}

.chart__bars {
fill: #99c5df;
opacity: 1;
}
.chart__range-selection text {
cursor: pointer;
text-decoration: underline;
fill: #2980b9;
}
.chart__axis--context text {
fill: #7f8faf;
}
.chart__axis--context .tick:nth-child(odd) {
display: none;
}
.chart__axis--context path,
.chart__axis--context line {
display: none;
}
.chart__area {
fill: #e6f6fe;
stroke: #3587bc;
}
.extent {
fill: #e2f0ff;
fill: #3587bc;
fill-opacity: 0.3;
}
.y.axis .tick text {
text-anchor: start !important;
fill: #7f8faf;
}
.y.axis .tick line {
display: none;
}
.y.axis path {
display: none;
}

.chart__legend {
font-size: 1.67vw;
}

.chart__subtitle {
font-size: 1.11vw;
}

.chart__title {
font-size: 1.67vw;
}

.x-responsive {
font-size: 2.0vw;
max-font-size: 3.47vw;
min-font-size: 0.97vw;
}

.chart__helper {
stroke: 1px;
}

          /* today */
#today {
	min-width: 70vw;
}

#papers {
width: 100%;
line-height: 2em;
display: inline;
}

#papers > table {
	padding: 10px auto 10px auto;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#papers h6 {
margin: 0;
font-weight: 400;
float: right;
}



td.clickable {
	min-height: 100%;
}


.paperscore {
padding: 5px 5px 5px 5px;
cursor: pointer;
font-size: 1.5em;
}

.logo_today {
	width: 12.5vw;
}

.active {
visibility: visible
}

.hidden {
visibility: hidden;
}



a#previous_story {
	float: left;
}

a#next_story {
	float: right;
}


a.next_headlines {
text-align: center;
/*vertical-align: top;*/
/*margin-left: 5px;*/
/*border: 2px dotted;
border-radius: 10px;*/
/*padding: 0 5px 5px 5px;*/
opacity: 0.75;
font-size: 60px;
}
a.next_headlines:hover {
cursor: pointer;
background-color: gold;
color: black;
opacity: 1;
}

#headerdiv {
display: table-cell;
min-width: inherit;
}

#today_emojis { 
	text-align: center;
	display: inline;
font-size: 100px;

}

.e {
font-size: 80px;
margin: 0;
}

#misery_score, #misery_heading {
font-size: 30px;
line-height: 2em;
font-weight: 400;
margin: 0;
}

.highlight {
color: #d83;
transition: color 2s ease;
}

.hidden {
opacity: 0;
}

.balls_container {
margin: 0;
line-height: 10px;
display: inline;
font-size: 5rem;
}

.highlightball {
color: red;
}




    /* info tab */

#info {
overflow-y:scroll;
overflow-x:hidden;
}

.blurb{
padding: 5% 0 5% 5%;
overflow-y:scroll;
overflow-x:hidden;
transition: color 1s ease, opacity 1s ease;
}

.blurb p{
font-size: 16px;
margin: 0 5% 2% 0;
}

.blurb h3 {
margin: 0 0 2% 0;
}

.blurb ol {
margin: 0 0 2% 0;
}

.blurb a {
color: #a17f1a;
}

.codechart div {
font: 10px sans-serif;
background-color: steelblue;
text-align: right;
padding: 3px;
margin: 1px;
color: white;
}


                /* HALL OF SHAME */

#shame table {
padding-top: 20px;
}

#shame h3{
font-size: 1.67vw;
margin:1% 0 1% 0;
}

#shame h4 {
display: inline;
}

.champion {
text-align: center;
font-size: 2rem;
padding-right: 10px;
}

#champion_neg_month,
#champion_neg_week,
#champion_pos {
display: none;
}

.champion_neg h2, .champion_pos h2{
margin: 10px 0 10px 0;
font-size: 1rem;
}

#button-table {
	min-width: inherit;
	text-align: center;
}

.btn-highlight {
	background-color: gold;
}

td.award_buttons, td.trophy_buttons {
	padding: 5px 5px 5px 5px;
	border: 1px solid gray;
	cursor: pointer;
}
#top_logo > img {
	float: left;
	display: block;
}

li.winner {
	clear: both;
}

.cup {
background-image: url('http://www.sylviarimm.com/images/medal.gif');
background-repeat: no-repeat;
background-position: center center;
background-size: 15%;
height: 140px;
margin: 0;
}

.score_award {
text-decoration: none;
color: red;
font-size: 30px;
padding: 5px 0 0 0;
font-weight: 700;
display: block;
}

.neg_award_headline {
background-color: red;
color: white;
font-size: 40px;
padding: 2px 5px 2px 5px;
}

.pos_award_headline {
background-color: gold;
color: black;
font-size: 40px;
padding: 2px 5px 2px 5px;
}

.footer {
display: none;
}

.score_neg, .score_pos {
margin-right: 15px;
font-weight: 700;
}

.score_neg {
color: red;
}

.score_pos {
color: green;
}

span.awardpic_wrapper{
}

img.awardpic {
	vertical-align: bottom;
}

img.awardpic.express {
	vertical-align: top;
}

span.headline_and_date {
	display: table-cell;
}

span.title {
}
span.awarddate {
font-size: 1rem;
padding-left: 20px;	
display: inline-block;
opacity: 0.75;
}

span.source {
font-style: italic;
}

ol.news {
}


.news {
margin: 0;
padding: 0;
list-style-type: none;
}

.news li {
text-align: left;
font-size: 1rem;
border-bottom: 1px dotted gray;
min-height: 40px;
margin-top: 10px;
counter-increment: step-counter;
padding-bottom: 5px;
}

.news li:first-child {
font-size: 1.5rem;
}

.badnews li:first-child::before {
background-color: red;
color: white;
}

.goodnews li:first-child::before {
background-color: green;
color: white;
}

.news li > span.number::before {
content: counter(step-counter);
margin-right: 5px;
font-size: 80%;
color: black;
font-weight: bold;
padding: 3px 8px;
border-radius: 12px;
border: 1px dotted gray;
}



.award_headline {
	vertical-align: middle;
	display: inline;
}



/*LAYOUT*/

/* iPhone 5 */
@media (min-width: 320px) and (max-width: 568px) {
		html,
body {
height:100%;
background: white;
font-size: 12px;
}


#today, #data, #shame, #restofpage, #welcome, nav {
	width: 100vw;
	margin: 0;
}
nav {
	position: relative;
	text-align: center;
	float: none;
	min-height: inherit;
	min-width: 100vw;
}

nav > #lowernav {
	min-width: 100vw;
	text-align: center;
}

nav > #lowernav > a.tab  {
	display: inline-block;
	font-size: 14px;
	padding: 5px;
	border-left: none;
}

nav > #uppernav {
	display: none;
}

nav > #mobilenav {
	display: block;
}

#restofpage {
	float: none;
	width: inherit;
}

#today {
	min-width: 90vw;
}

img.logo_today {
	width: 17vw;
}

span.award {
	margin-top: 10px;
	font-size: 2rem;
}

.news li {
	font-size: 1.2rem;
}
}

/* Tablet */
@media (min-width: 569px) and (max-width: 767px) {
		html,
body {
height:100%;
background: white;
font-size: 14px;
}

img.logo_today {
	width: 12.5vw;
}


}

/* iPad 2, 3, mini */
@media (min-width: 768px) and (max-width: 1024px) {
	html,
body {
height:100%;
background: white;
font-size: 16px;
}
} 


