<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serenity</title>
    <%= stylesheet_link_tag 'serenity' %>
      <%= javascript_include_tag 'jquery', 'd3.min' %>
     
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,500,700' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div id='index'></div>
   
        <%= yield %>
      
    <div class="footer">made by Jonathan Walton, using D3.js and Padrino. The code is available on <a href="https://github.com/Lemez/serenity-padrino" target ="_blank">Github</a>.
    </div>

  </body>

  
</html>